<% if @user.errors.full_messages.any? %>
 <% error_class = 'error_class'%>
<% end %>

<%= form_with(model: @user, local: true, url: login_path, class: 'pure-form login_form') do |form| %>
  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, class: error_class %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, class: error_class %>
  </div>

  <% if @user.errors.any? %>
    <div class="error_text">
      Почта или пароль неверный
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit "Login", class: 'pure-button pure-button-primary' %>
  </div>
<% end %>


