<ul class="comment_full_<%= comment.id %>">
  <div class="comment_main_<%= comment.id %>">
    <%= render 'comments/comment_main', comment: comment %>
  </div>

<%= render 'comments/comment_new', comment: comment %>
<% unless comment.comments.any? %>
<ul class="subcomments_<%= comment.id %>" style="margin: 0 0 0 30px;"></ul>
<% else %>
<ul class="subcomments_<%= comment.id %>" style="margin: 0 0 0 30px;">
  <% comment.comments.reverse.each do |comment| %>
      <%= render 'comments/comment_full', comment: comment %>

      <% if comment.comments.any? %>
        <%= render 'comments/comments', comment: comment  %>
      <% else %>
      <% end %>
<% end %>
</ul>
<% end %>

</ul>