<!--~~~<%#= comment.body %> || <%#= comment.user_id %>~~~-->

<div class="post_comment">
  <div class="comment_left_block">
    <div class="post_comment_avatar">
      <%= image_tag comment.user.get_avatar %>
    </div>
  </div>
  <div class="comment_right_block">
    <div>
      <%= link_to comment.user.name, user_path(comment.user) %>
    </div>
    <div>
      <%= comment.body %></div>
  </div>
  <div class="created_at">
    <%= comment.created_at.localtime.strftime("%H:%M:%S") %>
  </div>
</div>

<div data-likeable-type="Comment" data-likeable-id="<%= comment.id %>">
  <%= render 'likes/like', type: comment %>
</div>

<div class="edit_comment_text">
  <% if can_current_user_change? comment %>
    <%= link_to 'Редактировать комментарий', edit_comment_path(comment) %>
  <% end %>
</div>

<%# if comment.image? %>
<!--<a class="btn btn-primary" data-toggle="collapse" href="#images<%#= comment.id %>" role="button" aria-expanded="false" aria-controls="collapseExample">-->
<!--  Images-->
<!--</a>-->
<%# end %>

<!--<div class="collapse" id="images<%#= comment.id %>">-->
  <%# comment.images.each do |image| %>
<!--    <div> <%#= image_tag image.url %> </div>-->
  <%# end %>
<!--</div>-->

<% if comment.image? %>
  <%= image_tag comment.image.url%>
<!--  <img src="<%#= comment.image %>" alt="">-->
<% end %>