<ul class="comment_full_<%= comment.id %>">
  <div class="comment_main_<%= comment.id %>">
<div data-type="comment" data-id="<%= comment.id %>" class="post_comment">
  <div class="comment_left_block">
    <div class="post_comment_avatar">
      <%= image_tag comment.user.get_avatar %>
    </div>
  </div>
  <div class="comment_right_block">
    <div>
      <%= link_to comment.user.name, user_path(comment.user) %>
    </div>
    <div>
      <%= comment.body %></div>
  </div>
</div>

<div class="edit_comment_text">
  <div>
    <% if can_current_user_change? comment %>
      <%= link_to (fa_icon "times-circle"), comment_path(comment), method: 'delete' %>
  <% end %>
  </div>
  <% if comment.image? %>
    <div>
      <a data-toggle="collapse" href="#commentImage<%= comment.id %>">
        <%= fa_icon "image" %>
      </a>
    </div>
  <% end %>

  <div>
    <a data-toggle="collapse" href="#comment<%= comment.id %>">
      | <%= fa_icon "comments" %> |
    </a>
  </div>

  <%# if can_current_user_change? Comment.new(commentable: comment) %>
  <% if can_current_user_change? comment %>
    <div>
      <%= link_to (fa_icon "edit"), edit_comment_path(comment) %>
    </div>
  <% end %>

  <div>
    | <%= created_or_updated comment %> |
  </div>

  <div data-likeable-type="Comment" data-likeable-id="<%= comment.id %>">
    <%= render 'likes/like', type: comment %>
  </div>
</div>

<% if comment.image? %>
  <div class="collapse" id="commentImage<%= comment.id %>">
    <div data-toggle="modal" data-target="#commentImageModal<%= comment.id %>">
      <%= image_tag comment.image.url, class: "full_width" %>
      <% if can_current_user_change? comment%>
        <div><%= link_to "<i class='fa fa-times'></i>".html_safe, comment_image_path(id: comment.id), method: 'delete', class: 'img_del' %></div>
      <% end %>
    </div>
  </div>
<% end %>

<div class="modal fade" id="commentImageModal<%= comment.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <% unless comment.image.url.nil? %>
    <%= image_tag comment.image.url %>
      <% end %>
  </div>
</div>
  </div>

<%= render 'comments/comment_new', comment: comment %>
<% unless comment.comments.any? %>
<ul class="subcomments_<%= comment.id %>" style="margin: 0 0 0 30px;"></ul>
<% else %>
<ul class="subcomments_<%= comment.id %>" style="margin: 0 0 0 30px;">
  <% comment.comments.reverse.each do |comment| %>
      <%= render 'comments/comment', comment: comment %>

      <% if comment.comments.any? %>
        <%= render 'comments/comments', comment: comment  %>
      <% else %>
      <% end %>
<% end %>
</ul>
<% end %>

</ul>