<div class="edit_comment">
  <%= form_for :comment, url: comment_path, method: 'patch', html: {class: 'pure-form'} do |form| %>
    <div class="field">
     <%= form.text_area :body, placeholder: 'Comment text...' %>
    </div>
    <%= form.file_field :image %>
    <div class="attachments">
      <% unless @comment.image.url.nil? %>
      <%= image_tag @comment.image.url, class: 'comment_img_edit' %>
      <i class='fa fa-times img_del' onclick=clearAttachments()></i>
    <% end %>
    </div>
    <div class="actions">
      <%= form.submit class: 'pure-button pure-button-primary' %>
    </div>
  <% end %>
</div>
