<% if current_user.nil? %>
  <%= link_to "<button class='button-to-like'>LIKE</button>".html_safe, login_path %>
<% elsif current_user.has_like_on? type %>
  <%= button_to "LIKE | #{type.likes.count}", like_path(id: type.likes.find_by(user_id: current_user.id)), class: 'button-to-dislike', remote: true, method: 'delete'%>
<% else %>
  <%= form_for :like, url: likes_path, remote: true, html: {style: 'position: relative'} do |form| %>
    <%= form.hidden_field :has_like_on, value: current_user.has_like_on?(type) %>
    <%= form.hidden_field :likeable_type, value: type.class %>
    <%= form.hidden_field :likeable_id, value: type.id %>
    <%= form.submit "LIKE | #{type.likes.count}", class: 'button-to-like'%>
  <% end %>
<% end %> 