
<%= form_with(model: user, local: true, url: @link, class: 'pure-form') do |form| %>

  <div class="field">
    <%= form.label :name, 'Имя' %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :surname, 'Фамилия' %>
    <%= form.text_field :surname %>
  </div>
  
  <div class="field">
    <%= form.label :email, 'E-mail' %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= form.submit class: 'pure-button pure-button-primary submit_form' %>
  </div>


  <% if user.errors.any? %>
  <ul class="errors_list">
  <% user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
  <% end %>
<% end %>

