<%= form_with(model: user, local: true, url: @link, class: 'pure-form') do |form| %>

  <div class="field">
    <%= form.label :name, 'Firstname' %>
    <%= form.text_field :name, maxlength: 15 %>
  </div>

  <% if user.errors.include?(:name) %>
    <div class="error_text">
      Обязательный пункт*
    </div>
  <% end %>

  <div class="field">
    <%= form.label :surname, 'Lastname' %>
    <%= form.text_field :surname, maxlength: 15 %>
  </div>

  <% if user.errors.include?(:surname) %>
    <div class="error_text">
      Mandatory item*
    </div>
  <% end %>

  <% if user.provider.nil? %>
    <div class="field">
      <%= form.label :email, 'E-mail' %>
      <%= form.text_field :email %>
    </div>
  <% end %>

  <% if user.errors.include?(:email) %>
    <div class="error_text">
      Invalid email
    </div>
  <% end %>

  <% if user.provider.nil? %>
    <div class="field">
      <%= form.label :password %>
      <%= form.password_field :password, minlength: 6 %>
    </div>
  <% else %>
    <%= form.hidden_field :password, value: user.password_digest %>
  <% end %>

  <% if user.errors.include?(:password) %>
    <div class="error_text">
      Passwords must match, be longer than 6 characters, contain numbers, uppercase and lowercase letters
    </div>
  <% end %>

  <% if user.provider.nil? %>
    <div class="field">
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation, minlength: 6 %>
    </div>
  <% else %>
    <%= form.hidden_field :password_confirmation, value: user.password_digest %>
  <% end %>

  <% if user.errors.include?(:password_confirmation) %>
    <div class="error_text">
      Passwords must match, be longer than 6 characters, contain numbers, uppercase and lowercase letters
    </div>
  <% end %>

  <div class="custom-file">
    <label class="custom-file-label" for="customFile">Upload avatar</label>
    <%= form.file_field :avatar, class: 'custom-file-input', id: 'customFile' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'pure-button pure-button-primary submit_form' %>
  </div>
<% end %>


