<div class="search_block">
<%= form_with url: search_path, method: :get, local: true, enforce_utf8: false, html: {class: 'pure-form'} do |f| %>
  <%= f.label :input, "Search for:" %>
  <%= f.text_field :input %>
  <%= f.submit "Search", name: nil, class: "pure-button pure-button-primary"%>
<% end %>
<h1>Users</h1>
<% @users.each do |user| %>
  <div class="user_block">
    <div class="user_avatar" style="background:url('<%= user.get_avatar %>') no-repeat center center; background-size: cover">
      <%#= link_to image_tag(user.get_avatar), user_path(user) %>
    </div>
    <div class="user_info">
      <div class="user_info_fullname">
        <%= link_to user.name + ' ' + user.surname, user_path(user) %>
      </div>
      <div class="user_info_online_status">online status : <%= online_status user %></div>
    </div>
  </div>
  <div class="user_block_hr"></div>
<% end %>
<%= will_paginate @users %>
</div>