<%= form_with url: search_path, method: :get, local: true, enforce_utf8: false do |f| %>
  <%= f.label :input, "Search for:" %>
  <%= f.text_field :input %>
  <%= f.submit "Search", name: nil %>
<% end %>
<h1>Users</h1>
<table class="pure-table">
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

