<% unless flash[:success].nil? %>
  <div class="alert alert-success notice" role="alert">
    <%= flash[:success] %>
  </div>
<% end %>

<% unless flash[:error].nil? %>
  <div class="alert alert-danger notice" role="alert">
    <%= flash[:error] %>
  </div>
<% end %>

<div class="main_block">
  <div class="left_block">
    <div class="avatar">
      <img src="<%= @user.get_avatar %>" alt="">
    </div>
  </div>
  <div class="right_block">
    <div class="top_block">
      <div class="first_line">
          <span>
            <%= @user.name %> <%= @user.surname %>
          </span>
        <span class="online_status">
            <%= online_status @user %>
          </span>
      </div>
      <div class="user_info">
        <table>
          <tr>
            <td class="left_column">Дата регистрации :</td>
            <td class="right_column"><%= @user.created_at.strftime('%d/%m/%Y') %></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="new_post">
      <% if can_current_user_change? Post.new(user_id: @user.id) %>
        <%= form_with model: [@user, Post.new], html: {class: 'pure-form'} do |form| %>
          <%= render 'posts/post_form', user: @user, form: form %>
        <% end %>
      <% end %>
    </div>
    <div class="posts">
      <% @user.posts.reverse.each do |post| %>
        <%= render 'posts/post', post:post %>
      <% end %>
    </div>
  </div>
</div>

<div data-user-id="<%= get_user_id %>"></div>


