<div class="main_block">
  <div class="left_block">
    <div class="avatar">
      <img src="<%= @user.avatar %>" alt="">
    </div>
  </div>
  <div class="right_block">
    <div class="top_block">
      <div class="first_line">
          <span>
            <%= @user.name %> <%= @user.surname %>
          </span>
          <span class="online_status">
            <%= @user.online %>
          </span>
      </div>
      <div class="user_info">
        <table>
          <tr>
            <td class="left_column">Дата регистрации :</td>
            <td class="right_column"><%= @user.created_at.to_s[0..-14] %></td>
          </tr>
        </table>
      </div>
    </div>
    <!--  -->
    <div class="new_post">
      <% if can_current_user_change? @user.posts.new %>
        <%= form_for [@user, @user.posts.new], html: {class: 'pure-form'} do |form| %>
          <div class="field">
            <%= form.text_field :title, placeholder: 'Заголовок поста' %>
          </div>

          <div class="field">
            <%= form.text_area :body, placeholder: 'Расскажите что-нибудь..' %>
          </div>

          <div class="actions">
            <%= form.submit class: 'pure-button pure-button-primary' %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="posts">
      <% @user.posts.reverse.each do |post| %>
        <% next if post.id.nil?%>
        <div class="post">
          <div class="post_main_block">
            <div class="title"><%= post.title %></div>
            <div class="title_border"></div>
            <div class="body"><%= post.body %></div>
            <% if can_current_user_change? post %>
              <%= link_to '', edit_user_post_path(user_id: @user.id, id: post.id), class: 'edit_post_img'%>
              <%= link_to '', user_post_path(user_id: @user.id, id: post.id), method: "delete", class: 'delete_post_img' %>
            <% end %>
            </div>
          <div class="post_comments">
            <% post.comments.each do |comment| %>
              <div class="post_comment">
                <div class="comment_left_block">
                  <div class="post_comment_avatar">
                    <%= image_tag comment.user.avatar %>
                  </div>
                </div>
                <div class="comment_right_block">
                  <div>
                    <%= link_to comment.user.name, user_path(comment.user) %>
                  </div>
                  <div>
                    <%= comment.body %></div>
                    </div>
                    <div class="created_at">
                      <%= comment.created_at.localtime.strftime("%H:%M:%S")
                      %>
                    </div>
                </div>
              <div class="edit_comment_text">
              <% if can_current_user_change? comment %>
                <%= link_to 'Редактировать комментарий', edit_user_post_comment_path(user_id: comment.user_id, post_id: comment.post_id, id: comment.id) %>
              <% end %>
              </div>
            <% end %>
          </div>

          <div class="add_comment">
              <%= form_for [@user, post, post.comments.new], html: {class: 'pure-form'} do |form| %>
              <div class="field">
                <%= form.text_area :body, placeholder: 'Текст комментария...' %>
              </div>
        
              <div class="actions">
                <%= form.submit class: 'pure-button pure-button-primary' %>
              </div>
              <% end %>
          </div>

        </div>
      <% end %>
    </div>
  </div>
</div>
