<% unless notice.nil? %>
<div class="alert alert-danger notice" role="alert">
  <%= notice %>
</div>
<% end %>
<div class="edit_post">
  <%= form_for @post, url: user_post_path, method: "put", html: {class: 'pure-form'} do |form| %>
    <%= render 'posts/post_form', user: @user, form: form %>
  <% end %>
</div>

<% if @post.images.any? %>
<a class="btn btn-primary" data-toggle="collapse" href="#images<%= @post.id %>" role="button" aria-expanded="false" aria-controls="collapseExample">
  Images
</a>
<div class="collapse" id="images<%= @post.id %>">
 <div>
    <% @post.images.each do |image| %>
     <div data-toggle="modal" data-target="#postImage<%= image.id %>">
       <!-- <i class="fa fa-trash del_img_icon"></i> -->
       <%= image_tag image.data.url %> 
     </div>
     <div><%= link_to "delete#{image.id}", image_path(image), method: 'delete' %></div>

     <div class="modal fade" id="postImage<%= image.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
       <div class="modal-dialog modal-dialog-centered" role="document">
         <%= image_tag image.data.url%>
       </div>
     </div>

    <% end %>
 </div>
</div>
<% end %>