<% unless flash[:error].nil? %>
<div class="alert alert-danger notice" role="alert">
  <%= flash[:error] %>
</div>
<% end %>
<div class="edit_post">
  <%= form_for @post, url: user_post_path, method: "put", html: {class: 'pure-form'} do |form| %>
    <%= render 'posts/post_form', user: @user, form: form, type: 'post_edit' %>
  <% end %>
</div>

<% if @post.images.any? %>
 <div class="attachments old flex">
    <% @post.images.each do |image| %>
     <div class="relative fit_content attachments_image image" id="<%= image.id %>">
         <!-- <i class="fa fa-trash del_img_icon"></i> -->
        <%= image_tag image.data.url, class: 'post_img_edit' %> 
        <i class='fa fa-times img_del' onclick=clearPostAttachment(this)></i>
     </div>

    <% end %>
 </div>
<% end %>
<div class="attachments new flex"></div>
