<div data-toggle="modal" data-target="#postImage<%= image.id %>">
    <%= image_tag image.data.url, class: 'full_width' %>
    <% if can_current_user_change?(image.post) %>
      <div><%= link_to "<i class='fa fa-times'></i>".html_safe, image_path(image), remote: true, method: 'delete', class: 'img_del' %></div>
    <% end %>

  <div class="modal fade" id="postImage<%= image.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <%= image_tag image.data.url, style: 'max-width: 80%; max-height: 90%' %>
    </div>
  </div>
  </div>